.resize {
  border-radius: 6px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.resize img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.resize input {
  max-width: 80%;
}

.delete {
  padding: 0;
  position: absolute;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
}
